# Install packages
python: 3.6.2
pip3 install send2trash requests beautifulsoup4 openpyxl  PyPDF2 selenium  python-docx   imapclient   pyzmail  twilio pillow  python3-xlib
pip3 install pyobjc-core pyobjc
pip3 install pyautogui
pip3 install matplotlib 显示各种图表， http://matplotlib.org
pip3 install TA-Lib